<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MS_Outlook_SaveMails.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MS_Outlook_SaveMails.My.MySettings>
            <setting name="SaveRootPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxLenSenderName" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxLenSubject" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailCleanRegex" serializeAs="String">
                <value>RE:\s|Re:\s|AW:\s|FW:\s|WG:\s|SV:\s|Antwort:\s</value>
            </setting>
        </MS_Outlook_SaveMails.My.MySettings>
    </userSettings>
</configuration>